# Build and Release Folders
bin/
obj/
bin-debug/
bin-release/
.vs/

SylDesk/SylDesk/bin-debug/
SylDesk/SylDesk/bin-release/
SylDesk/.vs/

[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.suo
*.csproj
*.pdb

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
